* {
    box-sizing: border-box;
}

header{
    display: block;
}

h1, h2, h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body{
    color: white;
    background-color: forestgreen;
}

h1{
    font-size: 32pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

img{
    max-width: 90px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.navbar .card{
    text-align: center;
}

.intro{
    text-align: center;
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: none;
    cursor:crosshair;
}

.button:hover{
    background-color: blue;
    color: goldenrod;
}

.center{
    max-width: 350px;
    height: auto;
    border: 2px solid blueviolet;
    object-fit: cover;

    
}

.about img{
    display: flex;
    flex: 1 0 30%;
}

.about{
    padding-top: 50px;
    display: flex;
    flex: 0 1 30%;
    padding-left: 100px;

}

.about .about_text{
    padding-left: 120px;
    width: 600px;
}



