h1, h2, h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body{
    color: white;
    background-color: forestgreen;
}

h1{
    font-size: 32pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

img{
    max-width: 90px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.navbar .card{
    text-align: center;
}

.intro{
    text-align: center;
}

.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

.button:hover{
    background-color: blue;
    color: goldenrod;
}

img{
    height: 300px;
    width: 300px;
}
